In [ ]:
!pip install --user -r requirements.txt

In [22]:
import pandas as pd
import functools
import numpy as np
import tensorflow as tf
from sklearn import tree
import matplotlib as plt
import nltk

import sklearn.metrics as metrics
import sklearn
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from tensorflow import feature_column
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
 

# operazione che fa in modo che i numeri siano pi√π leggibili
np.set_printoptions(precision=3, suppress=True)

clinical_file_path = "./heart_failure_clinical_records_dataset.train.csv"
df = pd.read_csv(clinical_file_path)
df.head()

   DEATH_EVENT     age  anaemia  ...  sex  smoking  time
0            1  75.000        1  ...    1        0    10
1            1  75.000        0  ...    1        0   162
2            1  60.667        1  ...    1        0   171
3            0  52.000        0  ...    1        1   112
4            1  94.000        0  ...    1        0    27

[5 rows x 13 columns]

Divisione del dataset e creazione dei due file di train e test

In [23]:
train, test = train_test_split(df,test_size=0.2)
train= train.to_csv('train.csv', index = False)
test = test.to_csv('test.csv',index = False)